*{
    font-family: 'Open Sans', sans-serif;
    margin:0px;
}
span{
    color: #FD6E0A;;
}
/* This is button-style css*/
.button-style{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    padding: 18px 19px;
}
/* This is anchor style css */
.anchor-style{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
}
/* This is navication bar style css */
nav ul li {
    list-style: none;
}
.header-class{
    display: flex;
    justify-content:space-between;
    margin-left: 226px;
    margin-right: 230px;
    padding-top: 51px;
    
}
nav ul{
    display: flex;
}
.nav-style{
 display: flex;
 align-items: center;
 }
ul li{
    margin-right: 51px;
}
.header-display-style{
    display: flex;
    background-image: url(/images/background/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-left: 230px;
    margin-top: 47px;
    align-items: center;
}
.header-style{
    background-color:  #FFF8F3;
    background-image: url(../images/background/developer.png);
    background-repeat: no-repeat;
    background-position-x: 18px  !important;
    background-position-y: 50px !important ;
}
/* this is heading style in header */
#heading{
    font-size: 45px;

}
.Mary{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 85px;
}
/* This is paragraph style in header*/
.paragraph-style{
    margin-bottom: 30px;
    font-size: 18px;
}
/* This is button style in header */
#button-style-1{
    background-color: #FD6E0A;
    color: #FFF8F3;
    font-weight: 700;
    padding: 19px 17px 18px 17px;
    border: none;
    border-radius: 5px;
    margin-right: 30px;
}
#button-style-2{
    background-color: #FFF8F3;
    color: #FD6E0A;
    font-weight: 700;
    padding: 19px 17px 18px 17px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
}